---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.c-photo {

    figure {
        display: block;
    }

    img {
        display: block;
    }

    &__author {
        font-size: 9px;
        line-height: 11px;
        font-weight: 600;
        position: absolute;
        right: 0;
        bottom: 0;
        display: inline-block;
        padding: 5px 7px;
        background-color: rgba(39,39,39,.77);
        color: rgba(255,255,255,.8);
    }

    &__licurl {
        background-color: rgba(39,39,39,.77);
        color: rgba(255,255,255,.8);
    }    

}

html {
    background-color: #efe0d1;
}

.page__footer {
    background-color: #0079b2;
    color: #d9d9d9;
}

.greedy-nav {
    background: #efe0d1;
}

.greedy-nav .visible-links a:before {
    background: #0097b2;
}

.archive a {
    color: #0097b2;
}

.archive a:visited {
    color: #03859c;
}

.archive a:hover {
    color: #03859c;
}

/*.page .page__inner-wrap a {
    color: #0097b2;
}

.page .page__inner-wrap a:visited {
    color: #03859c;
}

.page .page__inner-wrap a:hover {
    color: #03859c;
}*/

.pagination a {
    color: #0097b2;
}

.pagination a:visited {
    color: #03859c;
}

.pagination a:hover {
    color: #03859c;
}

.page__content a {
    color: #0097b2;
}

.page__content a:visited {
    color: #03859c;
}

.page__content a:hover {
    color: #03859c;
}

